<launch>
    
  <param name="use_sim_time" value="true"/>
  
  <arg name="train_mode"      default="true"/>
  <param name="train_mode" value="$(arg train_mode)"/>

  
  <arg name="map_path"        default="$(find simulator_setup)/maps/map1/map.yaml"/>
  <arg name="world_path"      default="$(find simulator_setup)/maps/map1/map.world.yaml"/>

  <arg name="global_frame_id"   value="map"/>
  <arg name="odom_frame_id"     value="odom"/>
  <arg name="base_frame_id"     value="base_footprint"/>

  <arg name="odom_ground_truth" default="/odometry/ground_truth"/>

  <!-- <arg name="scan_topic" default="scan"/> default laser topic in flatland -->
  
 <!-- use simulator and rviz-->
  <include file="$(find arena_bringup)/launch/sublaunch/flatland_simulator.launch">
    <arg name="world_path"      value="$(arg world_path)"/>
    <arg name="update_rate"     default="1000.0"/>
    <arg name="step_size"       default="0.1"/>
    <arg name="show_viz"        default="true"/>
    <arg name="viz_pub_rate"    default="30.0"/>
    <arg name="use_rviz"        default="true"/>  
    <arg name="train_mode"      value="$(arg train_mode)"/>
  </include>

  <!-- map server-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)">
   <param name="frame_id" value="$(arg global_frame_id)"/>
  </node>

  
  <!-- use fake localization-->
  <include file="$(find arena_bringup)/launch/sublaunch/fake_localization.launch">
    <arg name="global_frame_id"   value="$(arg global_frame_id)"/>
    <arg name="odom_frame_id"     value="$(arg odom_frame_id)"/>
    <arg name="base_frame_id"     value="$(arg base_frame_id)"/>
    <arg name="odom_ground_truth" default="$(arg odom_ground_truth)"/>
  </include>

  <!-- start task_generator node-->
  <include file="$(find arena_bringup)/launch/sublaunch/task_generator.launch"/>

  <!-- start plan manager-->
  <include file="$(find arena_bringup)/launch/sublaunch/plan_manager.launch">
    <arg name="train_mode"        value="$(arg train_mode)"/>
    <arg name="global_frame_id"   value="$(arg global_frame_id)"/>
    <arg name="odom_frame_id"     value="$(arg odom_frame_id)"/>
    <arg name="base_frame_id"     value="$(arg base_frame_id)"/>
  </include>

  
    
</launch>