# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS
.DS_Store
.directory

# Build directory
build/

# Vim
*.vim
*.swp

# python
__pycache__

# bags
.bag
*.csv

#vscode
.vscode/
.env
**/.vscode

.idea/

arena_navigation/arena_local_planner/model_based/all_in_one_teb_interface/cmake-build-debug/

arena_navigation/arena_local_planner/learning_based/arena_local_planner_drl/log/

arena_bringup/rviz/nav_LP_2.rviz

arena_bringup/launch/plan_fsm_param.yaml

arena_navigation/arena_local_planner/learning_based/arena_local_planner_drl/agents/all_in_one_agents3_rule03_policy13.0/

arena_navigation/arena_local_planner/learning_based/arena_local_planner_drl/evaluation_logs/

arena_navigation/all_in_one_global_planner_interface/cmake-build-debug/

arena_navigation/arena_local_planner/model_based/all_in_one_local_planner_interface/cmake-build-debug/

arena_navigation/arena_timespace_planner/

simulator_setup/cmake-build-debug/

arena_navigation/arena_local_planner/learning_based/arena_local_planner_drl/configs/all_in_one_hyperparameters/map_parameters/tmp/

*.iml

*.bak

arena_navigation/arena_local_planner/learning_based/arena_local_planner_drl/agents/pretrained_aio_agents/

arena_navigation/arena_local_planner/learning_based/arena_local_planner_drl/agents/aio-agents/pretrained_aio_agents/
