<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="speed" default="0.22"/> -->
    <arg name="model" default="turtlebo3_burger"/>
    <param name="bool_goal_reached" value="true" />

    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find conventional)/config/$(arg model)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find conventional)/config/$(arg model)/global_costmap_params.yaml" command="load" />
    </node>

    <!-- observation_packer -->
    <!-- <node pkg="observations" name="observation_packer" type="observation_packer" output="screen"/> -->

    <!-- Launch neural net ros wrapper -->
    <!-- <node pkg="arena_ros" type="play_agent.py" name="arena_node" output="screen"/> -->
    <node pkg="arena_ros" type="arena_node_tb3.py" name="arena_node" output="screen" ns="/arena"/>
</launch>