<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find conventional)/config/$(arg model)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/$(arg model)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/$(arg model)/move_base_params.yaml" command="load" />
    <remap from="cmd_vel" to="foo"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
    <param name="controller_frequency" value="5.0" />
    <param name="planner_frequency" value="0.0" />
  </node>

  <node pkg="rl_collision_avoidance" type="rl_collision_avoidance_node_tb3.py" name="rl_collision_avoidance" output="screen"/>

  <!-- spacial_horizon -->
  <node pkg="arena_spacial_horizon" type="spacial_horizon_node" name="spacial_horizon_node" output="screen">
    <rosparam file="$(find conventional)/config/$(arg model)/plan_fsm_param.yaml" command="load" />
  </node>
</launch>