<!-- -->
<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />

 
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find conventional)/config/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find conventional)/config/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find conventional)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mpc_local_planner_examples)/cfg/diff_drive/mpc_local_planner_params_minimum_time.yaml" command="load" />
 
    <!-- planner params --> 
    <rosparam file="$(find conventional)/config/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>


    <!-- mpc -->
    <param name="base_local_planner" value="mpc_local_planner/MpcLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <param name="planner_frequency" value="1.0" />

	<param name ="MpcLocalPlannerROS/robot/unicycle/max_vel_x" value="0.3" />
    <param name ="MpcLocalPlannerROS/robot/unicycle/max_vel_x_backwards" value="0" />
    <param name ="MpcLocalPlannerROS/robot/unicycle/max_vel_theta" value="1" />

    <param name ="MpcLocalPlannerROS/robot/unicycle/acc_lim_x" value="0" />
    <param name ="MpcLocalPlannerROS/robot/unicycle/dec_lim_x" value="0" />
    <param name ="MpcLocalPlannerROS/robot/unicycle/acc_lim_theta" value="0" />
    

  </node>
</launch>
