<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->

    <rosparam file="$(find plan_manage_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find plan_manage_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find plan_manage_move_base)/config/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find plan_manage_move_base)/config/costmap_global_params.yaml" command="load" />

    <rosparam file="$(find plan_manage_move_base)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find plan_manage_move_base)/config/global_planner_params.yaml" command="load" />
    <rosparam file="$(find plan_manage_move_base)/config/local_planner_dwa_params.yaml" command="load" />
  </node>
  
</launch>
