TebLocalPlannerROS:
  odom_topic: odom

  # Robot

  max_vel_x: 2.0
  max_vel_x_backwards: 0.5
  max_vel_y: 0.0
  max_vel_theta: 1.57
  min_vel_theta: -1.57
  acc_lim_x: 10.0
  acc_lim_theta: 20.0
  min_turning_radius: 0.0 # diff-drive robot (can turn on place!)

  footprint_model:
    type: "polygon"
    vertices: [[-0.21, -0.165], [-0.21, 0.165], [0.21, 0.165], [0.21, -0.165]]

  # GoalTolerance

  xy_goal_tolerance: 0.25
  yaw_goal_tolerance: 0.17
  free_goal_vel: False
  complete_global_plan: True

  # Recovery

  shrink_horizon_backup: True
  shrink_horizon_min_duration: 10
  oscillation_recovery: True
  oscillation_v_eps: 0.1
  oscillation_omega_eps: 0.1
  oscillation_recovery_min_duration: 10
  oscillation_filter_duration: 10

  heading_scoring: True
