<launch>
  <arg name="ns"/>
  <arg name="model" default="burger"/>
  <arg name="agent_name" default="rule_05"/>
  <arg name="global_frame_id"   />
  <arg name="odom_frame_id"     />
  <arg name="base_frame_id"    />

  <arg name="cmd_vel_topic" default="/$(arg ns)/cmd_vel"/>
  <arg name="odom_topic"     default="/$(arg ns)/odom"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" ns="$(arg ns)">
    <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find conventional)/config/$(arg model)/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find conventional)/config/$(arg model)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find conventional)/config/$(arg model)/global_costmap_params.yaml" command="load" />
    <remap from="map" to="/map" />
    <remap from="/tf_static" to="/$(arg ns)/tf_static"/>
  </node>

  <node name="DRL_local_planner" pkg="arena_local_planner_drl" type="drl_agent_node.py" args="$(arg agent_name)" output="screen" ns="$(arg ns)"/>

  <node name="action_publisher" pkg="arena_local_planner_drl" type="action_publisher.py" ns="$(arg ns)"/>
</launch>
