
<launch>

  <arg name="global_frame_id"/>
  <arg name="odom_frame_id"/>

<!-- send fake static transform map_to_odom, which will be used to get localization from odom to map -->
<node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_tfpublisher"  args="0 0 0 0 0 0 $(arg global_frame_id) $(arg odom_frame_id)">
  <!-- <remap from="/tf_static" to="/$(arg ns)/tf_static"/> -->

</node>
</launch>