
<launch>
  <arg name="show_viz" default="false"/>
  <arg name="use_rviz" default="true"/>
  <arg name="rviz_file" default="nav_LP"/>

  <!-- launch flatland server -->
  <node name="flatland_server" pkg="flatland_server" type="flatland_server" output="screen">  
  </node>




  <!--  ***************** Robot Model *****************  -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <node name="spawn_model" pkg="rosservice" type="rosservice"
  args="call --wait /spawn_model &quot;{
    yaml_path: '$(find simulator_setup)/robot/myrobot.model.yaml',
    name: 'myrobot',
    ns: '',
    pose: {x: $(arg initial_pose_x), y: $(arg initial_pose_y), theta: $(arg initial_pose_a)}}&quot;"
  />
  
  <!--  ************** flatland viz  ***************  -->
  <group if="$(arg show_viz)">
    <node name="flatland_viz" pkg="flatland_viz" type="flatland_viz" output="screen" required="false" unless="$(arg use_rviz)"/>
  </group>

   <!-- start_rviz -->
  <group if="$(arg use_rviz)">
    <node name="flatland_rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find arena_bringup)/rviz/$(arg rviz_file).rviz"/>
  </group> 


</launch>