<launch>
  
    <!-- obst vel -->
	<arg name="v_lin" default="0.3"/>
    <arg name="v_ang" default="0.1"/>
    <!-- use static map -->
    <arg name="usm" default="true"/>
    <!-- Launch neural net ros wrapper -->
    <node pkg="sensor_simulator" type="sensorsim_node_tmgr.py" name="sensorsim_node" output="screen" ns="/sensorsim">

        
        <!-- Subscriptions -->
        <!-- <remap from="~pose" to="/odom"/> -->

        <!-- Parameters -->
        <!-- <param name="~vx" value="$(arg v_lin)"/>
        <param name="~vz" value="$(arg v_ang)"/>
        <param name="~usm" value="$(arg usm)"/> -->


    </node>

</launch>