
<launch>

    <arg name="scenarios_json_path" default="$(find simulator_setup)/scenarios/empty_map.json"/>

    <arg name="auto_reset" default="true" />
    <arg name="task_mode" default="scenario"/>
    <arg name="delta" default="1.0"/>
    <arg name="timeout" default="2.0"/>     <!--  ************** minute  ***************  -->
    <!--  ************** task generator  ***************  -->
    <node pkg="task_generator" name="task_generator_node" type="task_generator_node.py" output="screen">
        <param name="scenarios_json_path" value="$(arg scenarios_json_path)"/>
        <param name="auto_reset" value="$(arg auto_reset )" />
        <param name="task_mode" value="$(arg task_mode)"/>
        <param name="delta" value="$(arg delta)"/>
        <param name="timeout" value="$(arg timeout)"/>

        
    </node>
</launch>
