
<launch>
  <arg name="ns"/>

  <!--  ******************** flatland********************  -->
  <arg name="world_path"/>
  <arg name="update_rate" />
  <arg name="step_size" />
  <arg name="show_viz" />
  <arg name="viz_pub_rate"/>
  <arg name="use_rviz"/>  
  <arg name="rviz_file" default="nav_LP"/>  
  <arg name="train_mode"/>
  <env name="ROSCONSOLE_FORMAT" value="[${severity} ${time} ${logger}]: ${message}" />

  <!-- launch flatland server -->
  <node name="flatland_server" pkg="flatland_server" type="flatland_server" output="screen" ns="$(arg ns)">  
    <param name="world_path" value="$(arg world_path)" />
    <param name="update_rate" value="$(arg update_rate)" />
    <param name="step_size" value="$(arg step_size)" />
    <param name="show_viz" value="$(arg show_viz)" />
    <param name="viz_pub_rate" value="$(arg viz_pub_rate)" />
    <param name="train_mode" value="$(arg train_mode)" />

    <!-- remapping for namespace -->
    <remap from="/clock" to="/$(arg ns)/clock"/>
    <remap from="/tf"    to="/$(arg ns)/tf"/>
  </node>

  
  <!--  ***************** Robot Model *****************  -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>


  <!-- <node name="spawn_model" pkg="rosservice" type="rosservice" ns="$(arg ns)"
    args="call wait $(arg ns)/spawn_model &quot;{
      yaml_path: '$(find simulator_setup)/robot/myrobot.model.yaml',
      name: 'myrobot',
      ns: '',
      pose: {x: $(arg initial_pose_x), y: $(arg initial_pose_y), theta: $(arg initial_pose_a)}}&quot;"
  /> -->

  <!--  ************** flatland viz  ***************  -->
  <group if="$(arg show_viz)">
    <node name="flatland_viz" pkg="flatland_viz" type="flatland_viz" output="screen" required="false" unless="$(arg use_rviz)"/>
  </group>

  <!--  ************** rviz  ***************  -->
  <group if="$(arg use_rviz)">
    <node name="flatland_rviz" pkg="rviz" type="rviz" output="screen" ns="$(arg ns)" args="-d $(find arena_bringup)/rviz/$(arg rviz_file).rviz">
      <!-- remapping for namespace -->
      <remap from="/initialpose" to="/$(arg ns)/initialpose"/>
      <remap from="/move_base_simple/goal" to="/$(arg ns)/move_base_simple/goal"/>
      <remap from="/clock" to="/$(arg ns)/clock"/>
      <remap from="/flatland_server/debug/layer/static" to="/$(arg ns)/flatland_server/debug/layer/static"/>
      <remap from="/flatland_server/debug/layer/static_3d" to="/$(arg ns)/flatland_server/debug/layer/static_3d"/>
      <remap from="/flatland_server/debug/model/cleaner1" to="/$(arg ns)/flatland_server/debug/model/cleaner1"/>
      <remap from="/flatland_server/debug/model/myrobot" to="/$(arg ns)/flatland_server/debug/model/myrobot"/>
      <remap from="/flatland_server/debug/model/obstacles_dynamic_random_00" to="/$(arg ns)/flatland_server/debug/model/obstacles_dynamic_random_00"/>
      <remap from="/flatland_server/debug/model/obstacles_dynamic_random_01" to="/$(arg ns)/flatland_server/debug/model/obstacles_dynamic_random_01"/>
      <remap from="/flatland_server/debug/model/obstacles_dynamic_random_02" to="/$(arg ns)/flatland_server/debug/model/obstacles_dynamic_random_02"/>
      <remap from="/flatland_server/debug/model/obstacles_static_random_00" to="/$(arg ns)/flatland_server/debug/model/obstacles_static_random_00"/>
      <remap from="/flatland_server/debug/model/obstacles_static_random_01" to="/$(arg ns)/flatland_server/debug/model/obstacles_static_random_01"/>
      <remap from="/flatland_server/debug/model/obstacles_static_random_02" to="/$(arg ns)/flatland_server/debug/model/obstacles_static_random_02"/>
      <remap from="/flatland_server/debug/model/stat_obj_0" to="/$(arg ns)/flatland_server/debug/model/stat_obj_0"/>
      <remap from="/flatland_server/debug/model/stat_obj_1" to="/$(arg ns)/flatland_server/debug/model/stat_obj_1"/>
      <remap from="/flatland_server/debug/model/stat_obj_2" to="/$(arg ns)/flatland_server/debug/model/stat_obj_2"/>
      <remap from="/flatland_server/debug/model/stat_obj_3" to="/$(arg ns)/flatland_server/debug/model/stat_obj_3"/>
      <remap from="/flatland_server/debug/model/stat_obj_4" to="/$(arg ns)/flatland_server/debug/model/stat_obj_4"/>
      <remap from="/flatland_server/debug/model/stat_obj_5" to="/$(arg ns)/flatland_server/debug/model/stat_obj_5"/>
      <remap from="/flatland_server/debug/model/stat_obj_6" to="/$(arg ns)/flatland_server/debug/model/stat_obj_6"/>
      <remap from="/flatland_server/debug/model/stat_obj_7" to="/$(arg ns)/flatland_server/debug/model/stat_obj_7"/>
      <remap from="/flatland_server/debug/model/stat_obj_8" to="/$(arg ns)/flatland_server/debug/model/stat_obj_8"/>
      <remap from="/flatland_server/debug/model/stat_obj_9" to="/$(arg ns)/flatland_server/debug/model/stat_obj_9"/>
      <remap from="/flatland_server/debug/model/stat_obj_10" to="/$(arg ns)/flatland_server/debug/model/stat_obj_10"/>
      <remap from="/flatland_server/debug/model/stat_obj_11" to="/$(arg ns)/flatland_server/debug/model/stat_obj_11"/>
      <remap from="/flatland_server/debug/model/stat_obj_12" to="/$(arg ns)/flatland_server/debug/model/stat_obj_12"/>
      <remap from="/flatland_server/debug/model/stat_obj_13" to="/$(arg ns)/flatland_server/debug/model/stat_obj_13"/>
      <remap from="/flatland_server/debug/model/stat_obj_14" to="/$(arg ns)/flatland_server/debug/model/stat_obj_14"/>
      <remap from="/flatland_server/debug/model/stat_obj_15" to="/$(arg ns)/flatland_server/debug/model/stat_obj_15"/>
      <remap from="/flatland_server/debug/model/walker_model0" to="/$(arg ns)/flatland_server/debug/model/walker_model0"/>
      <remap from="/move_base/DWAPlannerROS/local_plan" to="/$(arg ns)/move_base/DWAPlannerROS/local_plan"/>
      <remap from="/move_base/NavfnROS/plan" to="/$(arg ns)/move_base/NavfnROS/plan"/>
      <remap from="/move_base/TrajectoryPlannerROS/local_plan" to="/$(arg ns)/move_base/TrajectoryPlannerROS/local_plan"/>
      <remap from="/move_base/global_costmap/costmap" to="/$(arg ns)/move_base/global_costmap/costmap"/>
      <remap from="/move_base/global_costmap/costmap_updates" to="/$(arg ns)/move_base/global_costmap/costmap_updates"/>
      <remap from="/move_base/local_costmap/costmap" to="/$(arg ns)/move_base/local_costmap/costmap"/>
      <remap from="/move_base/local_costmap/costmap_updates" to="/$(arg ns)/move_base/local_costmap/costmap_updates"/>
      <remap from="/move_base_simple/goal" to="/$(arg ns)/move_base_simple/goal"/>
      <remap from="/planning_vis/global_path" to="/$(arg ns)/planning_vis/global_path"/>
      <remap from="/planning_vis/global_path_array" to="/$(arg ns)/planning_vis/global_path_array"/>
      <remap from="/planning_vis/subgoal" to="/$(arg ns)/planning_vis/subgoal"/>
      <remap from="/planning_vis/subgoal_array" to="/$(arg ns)/planning_vis/subgoal_array"/>
      <remap from="/scan" to="/$(arg ns)/scan"/>
      <remap from="/subgoal_vis" to="/$(arg ns)/subgoal_vis"/>
      <remap from="/tf" to="/$(arg ns)/tf"/>  
      <remap from="/tf_static" to="/$(arg ns)/tf_static"/>
      <remap from="/waypoint_markers" to="/$(arg ns)/waypoint_markers"/>
      <remap from="/waypoint_markers_array" to="/$(arg ns)/waypoint_markers_array"/>
      <remap from="/particlecloud" to="/$(arg ns)/particlecloud"/>
      <remap from="/planning_vis/goal" to="/$(arg ns)/planning_vis/goal"/>
      <remap from="/planning_vis/goal_array" to="/$(arg ns)/planning_vis/goal_array"/> 
      <remap from="/map" to="/$(arg ns)/map"/>
    </node>
  </group>    
</launch>