<launch>

  <!-- Here are the argument that may be frequently changed -->
  <arg name="ns_prefix" default="sim" />
  <arg name="map_folder_name" default="map_empty" />
  <arg name="map_path" default="$(find simulator_setup)/maps/$(arg map_folder_name)/map.yaml" />
  <!-- <param name="world_path" value="$(find simulator_setup)/maps/$(arg map_folder_name)/map.world.yaml" /> -->

  <!-- map server-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)">
    <!-- In multi-env training /clock not available, since we only want one map_server, it's clock topic is remapped to /clock -->
    <remap from="/clock" to="/$(arg ns_prefix)_01/clock" />
  </node>
</launch>