<launch>
	<arg name="ns"/>

    <!-- move base -->
    <arg name="model" default="burger"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" ns="$(arg ns)">
        <rosparam file="$(find conventional)/config/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find conventional)/config/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />   
        <rosparam file="$(find conventional)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find conventional)/config/global_costmap_params.yaml" command="load" />

        <remap from="/clock" to="/$(arg ns)/clock"/>
        <remap from="/tf"    to="/$(arg ns)/clock"/>
    </node>

</launch>