<launch>
    <arg name="ns"/>
    <node pkg="arena_timespace_planner" name="time_space" type="time_space_planner_node" output="screen" ns="$(arg ns)">
        <!-- plan fsm -->
        <rosparam file="$(find arena_bringup)/launch/plan_fsm_param.yaml" command="load" /> <!-- ns="fsm"-->
        <!-- remapping clock for namespace -->
        <remap from="/clock" to="/$(arg ns)/clock"/>
    </node>
</launch>   



