
<launch>
    <arg name="train_mode"     />
    <arg name="global_frame_id"   />
    <arg name="odom_frame_id"     />
    <arg name="base_frame_id"    />
    
    <!-- move_base plan manager: which provide basic global planner and cost map -->
    <include file="$(find flatland_bringup)/launch/sublaunch/move_base.launch"/>

    <!-- flatland_plan_manager -->
    <node pkg="flatland_plan_manager" name="plan_manager" type="plan_manager_node" output="screen">
        <!-- <param name="train_mode" value="$(arg train_mode)"/> -->
    </node>


    <!-- flatland_local_planners -->
</launch>