<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="speed" default="0.3"/>
    <!-- Launch neural net ros wrapper -->
    <node pkg="arena_ros" type="arena_node_tb3.py" name="arena_node" output="screen" ns="/arena">

        <!-- Publications -->
        <remap from="~other_vels" to="other_vels"/>
        <remap from="~nn_cmd_vel" to="/cmd_vel"/>
        <remap from="~pose_marker" to="pose_marker"/>
        <remap from="~path_marker" to="path_marker"/>
        <remap from="~goal_path_marker" to="goal_path_marker"/>
        <remap from="~agent_marker" to="other_agents_marker"/>
        <remap from="~agent_markers" to="other_agents_markers"/>

        <!-- Subscriptions -->
        <remap from="~pose" to="/odom"/>
        <remap from="~velocity" to="velocity"/>
        <remap from="~safe_actions" to="local_path_finder/safe_actions"/>
        <remap from="~planner_mode" to="planner_fsm/mode"/>
        <remap from="~goal" to="/goal"/>
        <remap from="~subgoal" to="/plan_manager/subgoal"/>
        <remap from="~clusters" to="/obst_odom"/>
        <remap from="~peds" to="ped_manager/ped_recent"/>

        <!-- Parameters -->
        <param name="~speed" value="$(arg speed)"/>

    </node>

</launch>